@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  color: #000;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
#full_wrap {
  width: 100%;
  background-color: #f3f3f3;
}

.Wrap {
  width: 1350px;
  margin: 0 auto;
}

.small_wrap {
  width: 1200px;
  margin: 0 auto;
}

.Margin_top {
  margin-top: 100px;
}

/* header */
header {
  background-color: #f3f3f3;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgb(189, 178, 178);
}

.header-container {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-container > a > img {
  width: 330px;
}

.header_nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  line-height: 100px;
}

#main-menu {
  display: flex;
}

#main-menu > li > a {
  width: 140px;
  color: #000;
  display: block;
  text-align: center;
}

#main-menu > li:hover .title {
  color: #fff;
  opacity: 0.4;
  background-color: #000;
}

#main-menu > li:hover #sub-menu {
  opacity: 0.7;
  visibility: visible;
  color: #000;
  background-color: #fff;
  transition: 0.5s;
  z-index: 4;
}

#sub-menu {
  position: absolute;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

#sub-menu > li {
  line-height: 80px;
  width: 140px;
  height: 80px;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}

#sub-menu > li > a {
  color: #000;
  display: block;
}
#sub-menu > li:hover a {
  background-color: grey;
  color: #fff;
}
/* main page */
.main-content {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.main-left {
  width: 630px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-left > h1 {
  font-size: 90px;
  font-weight: 300;
  position: relative;
  left: 120px;
  color: #000;
  z-index: 1;
}

.main-left > span {
  display: flex;
  align-items: center;
  font-size: large;
  margin-left: 100px;
  color: #000;
  cursor: none;
}

.main-left > span:nth-child(3) {
  margin-left: 120px;
}

.slide_wrap {
  width: 980px;
}
.background {
  display: flex;
  width: 980px;
  height: 680px;

  overflow: hidden;
  box-shadow: 5px 5px 5px rgb(81, 79, 79);
}

.background li > img {
  width: 1058px;
  height: 750px;
  transition: 0.1s;
}

/* section page */
section {
  width: 100%;
  height: 850px;
}
.wpb_wrapper {
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wpb_wrapper > h1 {
  font-size: 100px;
  font-weight: 300;
  text-align: center;
}

.wpb_wrapper ::after {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  border-left: 1px solid currentColor;
  height: 4em;
  max-height: 9rem;
  margin-top: 1rem;
  transform: translateX(50%);
  border-color: rgba(184, 157, 79, 1);
}
.timetable_wrapper {
  padding-top: 70px;
  height: 500px;
}
.timetable_content {
  display: flex;
}
.Table_item {
  width: 350px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 200;
}

.Table_item > img {
  width: 300px;
  height: 250px;
  box-shadow: 0.75rem 0.85rem 1.75rem 0 rgba(0, 0, 0, 0.32);
}

.Table_item > h1 {
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  font-weight: 300;
}

.Table_item > span {
  text-align: center;
  font-size: 23px;
  color: rgba(184, 157, 79, 1);
}
.vc_colum_container {
  width: 100%;
  height: 1190px;
}
.vc_colum_content {
  display: flex;
  height: 610px;
  justify-content: center;
  margin-top: 60px;
}
.vc_colum_content > span {
  width: 332px;
  font-size: 2rem;
  font-weight: 300;
  color: #b89e4f;
}
.vc_colum_title {
  width: 334px;
  margin: 0 60px 100px;
  font-size: 21px;
  display: flex;
  font-weight: 200;
  flex-direction: column;
  justify-content: space-between;
}
.vc_colum_img {
  width: 300px;
}
.vc_colum_img > img {
  width: 300px;
}

.Event_container {
  width: 100%;
  height: 2090px;
  background-color: #f3f3f3;
}
.Event_title {
  padding-top: 120px;
}
.Event_title > h1 {
  font-size: 100px;
  font-weight: 300;
  text-align: center;
}
.Event_wrapper {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
.Event_img {
  width: 480px;
}
.Event_img > img {
  width: 480px !important;
  height: 400px;
  box-shadow: 0.2rem 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.42) !important;
}
.Time_list {
  width: 700px;
  height: 421px;
  padding: 2% 2% 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Time_list > span {
  font-weight: 300;
  color: #b89e4f;
  font-size: 1.5rem;
}

.Time_list > span::after {
  content: "";
  display: inline-block;
  width: 10rem;
  margin-left: 2rem;
  position: relative;
  top: -0.25em;
  border-bottom: 1px solid currentColor;
}
.Time_list > h1 {
  font-size: 49px;
  font-weight: 300;
  line-height: 1.2;
}
.Time_list > p {
  font-size: 20px;
  font-weight: 200;
}

/* Exhibtion page */

.Exhibtion_container {
  padding-top: 40px;
  width: 1920px;
  margin: 0 auto;
  height: 980px;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  align-items: center;
}

h1 small,
h2 small,
h3 small,
h4 small {
  color: rgba(184, 157, 79, 1);
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 200;
}

.left_container {
  padding-left: 250px;
  width: 50%;
  height: 600px;
  font-size: 2rem;
}

.left_container h1 {
  display: flex;
  font-size: 6rem;
  flex-direction: column;
  font-weight: 300;
}

.left_container p {
  margin-top: 40px;
  font-size: 25px;
  font-weight: 100;
}

.left_container p:nth-child(3) {
  margin-top: 60px;
  font-size: 1.3rem;
}

.left_href {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.smoth_scrool {
  color: rgba(184, 157, 79, 1);
  font-size: 21px;
}

.smoth_scrool::after {
  background-color: rgba(184, 157, 79, 1);
  color: rgba(255, 255, 255, 1);
  content: "\25B8";
  font-size: 0.6em;
  display: inline-block;
  border-radius: 100rem;
  width: 2em;
  height: 2em;
  line-height: 2;
  text-align: center;
  margin-left: 1em;
  position: relative;
  top: -0.25em;
  text-indent: 0.1em;
}

.right_container {
  width: 50%;
  position: relative;
}

.right_container > img {
  width: 590px;
  position: relative;
  z-index: 1;
  box-shadow: 0.2rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.34);
}

.box_shadow {
  width: 590px;
  height: 720px;
  transform: rotate(-12.5deg);
  background-color: #b89e4f;
  opacity: 25%;
  position: absolute;
  top: 0;
  z-index: 0;
  box-shadow: 0.1rem 0.1rem 0.6rem 0 rgba(0, 0, 0);
}

.Showing_container {
  width: 100%;
  height: 1300px;
}

.Showing_container > h2 {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  font-size: 5em;
  font-weight: 300;
  text-align: center;
}

.Showing_container > h2::after {
  color: rgba(184, 157, 79, 1);
  content: "";
  display: block;
  width: 100%;
  position: relative;
  border-left: 1px solid currentColor;
  height: 3em;
  left: 675px;
  max-height: 7rem;
  margin-top: 0.3rem;
}

.Showing_content {
  margin-top: 40px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.Showing_box {
  width: 273px;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Showing_box_title {
  margin: 3rem 0 0.5rem !important;
}

.Showing_box > img {
  cursor: pointer;
  transition: all 0.2s linear;
  box-shadow: 0.2em 0.1rem 1rem 0rem;
}

.Showing_box > img:hover {
  transform: scale(1.1);
}

.Showing_box_title > h2 {
  font-weight: 100;
}

.Showing_year {
  color: #b89e4f;
}

.Special_event {
  display: flex;
  width: 100%;
  height: 900px;
  border-top-width: 1rem !important;
  border-right-width: 1rem !important;
  border-bottom-width: 1rem !important;
  border-left-width: 1rem !important;
  border-left-color: #f5f0e5 !important;
  border-left-style: solid !important;
  border-right-color: #f5f0e5 !important;
  border-right-style: solid !important;
  border-top-color: #f5f0e5 !important;
  border-top-style: solid !important;
  border-bottom-color: #f5f0e5 !important;
  border-bottom-style: solid !important;
}

.special_left_container {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.special_left_container > img {
  width: 440px;
  position: relative;
  z-index: 1;
  box-shadow: 0.2rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.34);
}

.special_box_shadow {
  width: 430px;
  height: 640px;
  transform: rotate(-12.5deg);
  background-color: #b89e4f;
  opacity: 25%;
  position: absolute;
  z-index: 0;
  box-shadow: 0.1rem 0.1rem 0.6rem 0 rgba(0, 0, 0);
}

.special_right_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 2rem;
}

.special_right_container h1 {
  display: flex;
  font-size: 6rem;
  flex-direction: column;
  font-weight: 300;
}

.special_right_container p {
  margin-top: 40px;
  font-size: 25px;
  font-weight: 100;
}

.special_right_container p:nth-child(3) {
  margin-top: 60px;
  font-size: 1.3rem;
}

.left_href {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.Future_Event {
  width: 100%;
  height: 1400px;
}
.Future_Event > .wpb_wrapper > h1 {
  font-size: 70px;
  font-weight: 300;
}

.Future_Event > .wpb_wrapper ::after {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  border-left: 1px solid currentColor;
  height: 4em;
  max-height: 5rem;
  margin-top: 1rem;
  transform: translateX(50%);
  border-color: rgba(184, 157, 79, 1);
}
.Future_table {
  display: flex;
  width: 100%;
  height: 300px;
  margin-top: 90px;
  border-bottom: 1px solid #b89e4f;
}
.Future_table:nth-child(4) {
  border-bottom: none;
}
.Future_day {
  padding: 22px 0;
  width: 110px;
  height: 120px;
  background-color: #b89e4f;
  color: #f3f3f3;
  letter-spacing: 5px;
  text-align: center;
}
.Future_day > span {
  font-size: 30px;
}

.Future_container {
  position: relative;
  display: flex;
  height: 100%;
  margin-left: 60px;
}
.Future_container > img {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 1;
  box-shadow: 0.2rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.34);
}

.Future_box_shadow {
  width: 200px;
  height: 200px;
  transform: rotate(-12.5deg);
  background-color: #b89e4f;
  opacity: 25%;
  position: absolute;
  z-index: 0;
  box-shadow: 0.1rem 0.1rem 0.6rem 0 rgba(0, 0, 0);
}
.Future_content {
  margin-left: 60px;
  width: 300px;
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: center;
}

.Future_content > span:nth-child(1) {
  font-size: 30px;
  font-weight: 300;
}
.time_span {
  font-weight: 100;
  margin-left: 2px;
}
.clock::before {
  content: "\25F7";
  font-size: 20px;
  color: #b89e4f;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.time_span > .time {
  animation: blink 1s steps(5, start) infinite;
  display: inline-block;
}

/* footer page */
footer {
  width: 100%;
  height: 240px;
}
.topfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  height: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
}
.topfooter > ul {
  width: 70%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topfooter > ul > li > a {
  color: #000;
  font-size: 19px;
}

.ct_scrool {
  color: #b89e4f;
  font-size: 19px;
}
.bottomfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  height: 120px;
}

.text-3 {
  width: 140px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.text-3 > a > img {
  width: 38px;
}
.text-3 > a:nth-child(2) > img {
  width: 51px;
}
